{% block sidebar %}
<style>
        .card{
            box-shadow: 0 10px 10px #892cdc;
        }
        
       
</style>

<!-- Sidebar Widgets Column -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">I am Ansh Gupta, currently a final year student. Find me at:</p>
        <a href="https://github.com/ansh422" style="margin: 0 10px 0 0;"><img src='../media/github.png'/></a>

        <a href="https://www.linkedin.com/in/ansh422/" style="margin: 0 10px 0 0;"><img src='../media/linkedin.png' width="20px" height="20px"/></a>
        <a href="https://kaggle.com/ansh422" style="margin: 0 10px 0 0;"><img src='../media/kaggle.png' width="17px" height="20px"/></a>
    </div>
</div>
</div>
{%endblock sidebar%}